<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis debitis, delectus ea harum illo
        illum iste laborum minima natus nemo nihil perferendis praesentium quae qui recusandae, repudiandae tempora,
        velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis debitis, delectus ea harum illo
        illum iste laborum minima natus nemo nihil perferendis praesentium quae qui recusandae, repudiandae tempora,
        velit.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis debitis, delectus ea harum illo
        illum iste laborum minima natus nemo nihil perferendis praesentium quae qui recusandae, repudiandae tempora,
        velit.
      </div>
    </div>
    <div class="about-image wow animate__zoomIn">
      <img src="assets/images/pizza_big.png" alt="pizza">
      <img src="assets/images/pizza_big.png" alt="pizza">
    </div>
  </div>
</section>
