
<section class="main">
  <div class="container">
    <div class="main-info animate__animated animate__backInLeft">
      <h1 class="double-title">
        Самая вкусная пицца в мире <span>только в Pizza Cheff</span>
      </h1>
      <div class="main-advantages">
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/hop.png" alt="Колос">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">Лучшее тесто</div>
            <div class="advantage-description">
              Мы создаем тесто только из отборной итальянской муки наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/kitchen-pack.png" alt="Поварской колпак">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">лучшие повара</div>
            <div class="advantage-description">
              Пиццы готовят самые профессиональные итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/seo-and-web.png" alt="Знак качества">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">гарантия качества</div>
            <div class="advantage-description">
              Наша пиццерия получила множество наград и признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/holidays.png" alt="Поднос на руке">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">отборные рецепты</div>
            <div class="advantage-description">
              Мы используем рецепты от мировых лидеров в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main-action">
        <button (click)="scrollTo(productsElement)" class="btn hvr-shutter-in-horizontal no-touch">Выбрать пиццу</button>
      </div>
    </div>
    <div class="main-image animate__animated animate__backInRight">
      <img src="assets/images/pizza_big.png" alt="Big pizza image">
    </div>
  </div>
</section>

<div class="parallax-window" data-parallax="scroll" data-image-src="assets/images/pizza_walp.jpg"></div>

<section class="products" #productsElement>
  <div class="container">
    <h2 class="products-title" id="pizzas">Выберите свою любимую пиццу </h2>
    <div class="products-items">
      <product *ngFor="let product of products" [product]="product" (addToCartEvent)="addToCart($event, orderElement)"></product>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Хватит думать!</span> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1
        минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом
        и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order-form">

        <input type="text" class="order-input" coolInput id="name-input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input type="text" class="order-input" id="product-input" placeholder="Пицца" [(ngModel)]="formValues.productTitle">
        <input type="text" class="order-input" id="address-input" placeholder="Адрес доставки" name="address" [(ngModel)]="formValues.address">
        <input type="text" class="order-input" coolInput id="phone-input" placeholder="Телефон" [(ngModel)]="formValues.phone">
        <button type="submit" class="btn" (click)="createOrder()">Оформить заказ</button>

    </div>
    <div class="order-image wow animate__zoomIn">
      <img src="assets/images/pizzzzza.png" alt="pizza">
    </div>
  </div>
</section>


<div id="test-popup" class="white-popup mfp-hide">
  Popup content
</div>

<div class="cookie">
  <div class="cookie-title">
    <div>Мы используем файлы Cookie</div>
    <span class="cookie-accept">&times;</span>
  </div>
  <div class="cookie-text">Потому что без них вообще ничего не работает</div>
  <div class="cookie-button">
    <button class="btn cookie-accept">Принять</button>
  </div>
</div>

<router-outlet></router-outlet>
