/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Muller;
  src: url('./assets/fonts/MullerRegular.otf');
}

@font-face {
  font-family: MullerBold;
  src: url('./assets/fonts/MullerBold.otf');
}

@font-face {
  font-family: MullerExtraBold;
  src: url('./assets/fonts/MullerExtraBold.otf');
}

body {
  font-family: Muller, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


/* 1024 -1229 */
@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  border: none;
  background-color: rgb(255, 175, 24);
  width: 224px;
  outline: none;
  padding: 22px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: MullerBold, sans-serif;
  color: rgb(56, 36, 0);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn.btn-white {
  background-color: transparent;
  border: 1px solid rgb(255, 175, 24);
  color: rgb(56, 36, 0);
}


$main-color: rgb(185, 145, 80);
$second-color: rgb(255, 175, 24);
$third-color: rgb(56, 36, 0);




.main {
  margin: 132px 0 81px 0;
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.main-info {
  max-width: 622px;
}

.main-info h1 {
  font-size: 45px;
  font-family: MullerExtraBold, sans-serif;
  line-height: 1.222;
}


.double-title {
  color: rgb(185, 145, 80);
}

.double-title span {
  color: #ffaf18;
}


.main-advantages {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
}

.advantage {
  max-width: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;
}

.advantage-text {
  margin-left: 16px;
}

.advantage-title {
  font-size: 16px;
  font-family: MullerExtraBold, sans-serif;
  color: rgb(255, 175, 24);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 16px;
  color: rgb(185, 145, 80);
}

.main-action {
  margin-top: 60px;
}


.products {
  padding: 80px 0 120px 0;
}

.products-title {
  font-size: 35px;
  font-family: MullerBold, sans-serif;
  color: rgb(189, 152, 92);
  text-align: center;
}

.products-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  justify-content: space-between;
}

.order {
  padding: 120px 0 115px 0;
  overflow: hidden;
}

.order .container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.order-text {
  max-width: 384px;
}

.order-text-title {
  font-size: 35px;
  font-family: MullerExtraBold, sans-serif;
  font-weight: bold;
  line-height: 1.286;
  text-align: left;
  margin-bottom: 65px;
}

.order-text-message {
  font-size: 16px;
  color: rgb(185, 145, 80);
  line-height: 1.5;
}

.order-form {
  margin-left: 122px;
  max-width: 330px;
}

.order-input {
  border-width: 1px;
  border-color: rgb(185, 145, 80);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 330px;
  height: 60px;
  font-size: 18px;
  color: rgb(119, 94, 49);
  padding: 23px 22px 24px 22px;
  outline: none;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.order-input::placeholder {
  color: rgb(203, 168, 110);
}

.order .btn {
  width: 330px;
  padding: 23px 22px 24px 22px;
  height: 60px;
}

.order-image {
  width: 282px;
  position: relative;
  margin-left: 78px;
}

.order-image img {
  position: absolute;
  bottom: -35px;
  left: 0;
}


.hvr-shutter-in-horizontal:before {
  background: $second-color;
  color: black;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.hvr-shutter-in-horizontal {
  border: 1px solid $second-color;
  box-sizing: border-box;
  background: white;
}

.hvr-shutter-in-horizontal:hover {
  background: white;
  color: $second-color;
  border: 1px solid $second-color;
  box-sizing: border-box;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.parallax-window {
  min-height: 600px;
  background: transparent;
}


.cookie {
  position: fixed;
  bottom: 30px;
  left: 20px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 330px;
  display: none;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: MullerBold, sans-serif;

    & span {
      font-size: 40px;
      cursor: pointer;
    }
  }

  &-text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }

  &-button .btn {
    border: 0;
    outline: none;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
  }

}



/* 1024 -1229 */
@media screen and (max-width: 1229px) {

  .main-image {
    width: 400px;
  }

  .main-image img {
    max-width: 100%;
  }

  .order-form {
    margin-left: 45px;
  }

  .order .container {
    max-width: 1024px;
  }

}

/* 768 - 1024 */
@media screen and (max-width: 1023px) {

  .main .container {
    flex-direction: column;

  }

  .main-image {
    order: 1;
    margin-bottom: 30px;
  }

  .main-info {
    order: 2;
  }

  .main {
    margin-top: 70px;
  }

  .main h1 {
    text-align: center;
  }

  .main-action {
    text-align: center;
  }

  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .order {
    padding-top: 60px;
    position: relative;
  }

  .order-image {
    position: absolute;
    z-index: -1;
    right: calc(50% - 400px);
  }

  .order-image img {
    position: relative;
  }

  .order .container {
    justify-content: center;
  }

}

/* 425 - 767 */
@media screen and (max-width: 767px) {

  .cart {
    margin-left: 20px;
  }

  .main-info h1 {
    line-height: 45px;
  }

  .main-advantages {
    margin-left: auto;
    margin-right: auto;
  }

  .order .container {
    flex-direction: column;
    align-items: center;
  }

  .order-text-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-text-message {
    text-align: left;
    margin-bottom: 25px;
  }

  .order-form {
    margin-left: 0;

  }

}

/* 425 - 656 */
@media screen and (max-width: 656px) {

  .main-advantages {
    max-width: 306px;
  }


}

/* 375 - 424 */
@media screen and (max-width: 424px) {

  .main-image {
    width: 100%;
  }

}

/* 374 - 320 */
@media screen and (max-width: 374px) {

  .main-info h1 {
    font-size: 38px;
  }

  .order-input {
    width: 290px;
  }

  .order .btn {
    width: 290px;
  }

  .order-form {
    text-align: center;
  }



}


.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
}

.loader {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #ffaf18;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
